@import "components/index";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body {
  font-family: 'Quicksand', sans-serif !important;
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
}

.dropdown-menu[data-bs-popper] {
  top: 85% !important;
  left: -25% !important;
}
