<nav class="navbar navbar-light" style="background-color: #38D1F0;">
  <div class="container">

    <a class="navbar-brand" href="{% url 'home' %}">Social</a>

    <form>
      <input class="form-control" type="search" placeholder="🔍 Search" aria-label="Search">
    </form>

      <div class="navbar-nav">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Username
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">My Profile</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>

    </div>

  </div>
</nav>
