{% extends 'main.html' %}

{% block content %}
<div class="container mt-3">

  <div class="mx-auto">
    <a href="{% url 'create-post' %}">New post</a>
  </div>

  {% for post in posts %}
  <div class="card border-light mx-auto mt-3">
    <div class="card-header bg-light d-flex justify-content-between">
      <h5>{{post.user}}</h5>
      <p class="text-muted">{{post.updated}}</p>
    </div>
    <div class="card-body">
      <p class="card-text">{{post.content}}</p>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock content %}
