{% extends 'main.html' %}

{% block content %}
<div class="container mt-3">

  <div class="mx-auto">
    <div class="d-grid col-6 mx-auto">
    {% if request.user.is_authenticated %}

      <a href="{% url 'create-post' %}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> New post</a>

    {% else %}
    <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to interact with others!</p>
    {% endif %}
    </div>
  </div>

  {% for post in posts %}
  <div class="card border-light mx-auto mt-3">
    <div class="card-header bg-light d-flex justify-content-between">
      <h5>{{post.user}}</h5>
      <p class="text-muted">{{post.updated}}</p>
    </div>
    <a href="{% url 'post' post.id %}">
      <div class="card-body">
        <p class="card-text">{{post.content}}</p>
      </div>
    </a>
      <div class="card-footer">
        <i class="fa-regular fa-thumbs-up like"></i> {{post.get_like_count}}
        <br>
        {{post.get_reply_count}}
      </div>
  </div>
  {% endfor %}

</div>

{% endblock content %}
