{% extends 'main.html' %}

{% block content %}
{% load cloudinary %}

<div class="container mt-3">
  {% if page %}
    <h2 class="mb-3">Edit post</h2>
    <a href="{% url 'post' post.id %}" type="button" class="btn btn-outline-secondary mb-3"><i class="fa-solid fa-arrow-left"></i></a>
  {% else %}
    <h2 class="mb-5">New post</h2>
  {% endif %}
  <h5 class="mb-3">{{request.user.username}}</h5>
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      {{form.content}}
      {{form.photo}}
    </div>
    <input type="submit" value="Submit" class="input-btn">
  </form>
</div>

{% endblock content %}
