{% extends 'main.html' %}

{% block content %}

<div class="container mt-3">
  <a href="{% url 'home' %}">Back</a>
  <div class="card border-light mx-auto mt-3">
    <div class="card-header bg-light d-flex justify-content-between">
      <h5>{{post.user}}</h5>
      <div>
        <p class="text-muted">{{post.updated}}</p>
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-list-ul"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Edit</a></li>
          <li><a class="dropdown-item" href="#delete" data-bs-toggle="modal" data-bs-target="#DeleteModal">Delete</a></li>
        </ul>
      </div>
    </div>
    {% include 'base/post_delete.html' %}
    <div class="card-body">

      <p class="card-text">{{post.content}}</p>
      <i class="fa-regular fa-thumbs-up"></i> {{post.get_like_count}}
      {% for reply in replies %}
        <hr>
        {{reply.user.username}}: {{reply.body}}
      {% endfor %}
      <hr>

      <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="reply">
        <div class="input-group">
          <span class="input-group-text">{{request.user.username}}</span>
          <textarea class="form-control" aria-label="With textarea" rows="2" name="body" placeholder="Reply to this post"></textarea>
        </div>
        <div class="d-flex flex-row-reverse">
          <button type="submit" class="input-btn mt-3">Reply <i class="fa-solid fa-reply"></i></button>
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock content %}
